body
{
    margin: 5px !important;
}

#breedMenu
{
    display: block;
}
#imageContainer
{
    display: inline;
    max-width: 30vw;
    max-height: 30vh;
}
img
{
    max-width: inherit;
    max-height: inherit;
}
.Scrollbar
{
    height: 95vh;
    width: 90vw;
    overflow: auto;
}