body
{
    margin: 5px !important;
}

#breedMenu
{
    display: block;
}

/*.slideshow
{
    display: block;
    height: 95vh;
    width: 90vw;
}*/

#slideshow_btns
{
    display: block;
}
#imageCounter
{
    display: inline;
}

/*#imageContainer 
{
    display: inline;
    max-height: 95vh;
    max-width: 90vw;
}*/
img
{
    max-width: inherit;
    max-height: inherit;
}

/*.Scrollbar
{
    height: 95vh;
    width: 90vw;
    overflow: auto;
}*/